<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header class="ion-text-center">
      <ion-card-title>Finances Easy</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-content-center">
      <ion-img src="/assets/images/logo.png"></ion-img>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-list>
          <ion-item>
            <ion-label position="floating">{{ 'Username' | translate }}</ion-label>
            <ion-input type="username" name="username" [formControl]="username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">{{ 'Password' | translate }}</ion-label>
            <ion-input type="password" name="password" [formControl]="password">
            </ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-button color="primary" expand="block" (click)="login()">
          {{ 'Login' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>