<ion-header>
  <ion-toolbar>
    <ion-title>{{ category.name }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form #categoryForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">{{ 'Name' | translate }}</ion-label>
        <ion-input type="text" name="name" [(ngModel)]="category.name" required>
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-button type="submit" color="primary" shape="round" expand="full" (click)="save()"
      [disabled]="!categoryForm.valid">
      {{ 'Save changes' | translate }}
    </ion-button>
  </form>
</ion-content>