<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'Home' | translate }}
    </ion-title>
    <ion-icon name="person" slot="end"></ion-icon>
    <ion-text slot="end">{{ (userObs | async).name }}</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="success">
    <ion-card-header>
      <ion-card-subtitle>{{ 'Balance' | translate }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{  (actualIncomeObs | async) - (actualExpenseObs | async) | currency:'€' }}
    </ion-card-content>
  </ion-card>
  <ion-card color="danger">
    <ion-card-header>
      <ion-card-subtitle>{{ 'Total expense' | translate }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ actualExpenseObs | async | currency:'€' }}
    </ion-card-content>
  </ion-card>
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-subtitle>{{ 'Total income' | translate }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ actualIncomeObs | async | currency:'€' }}
    </ion-card-content>
  </ion-card>
</ion-content>